body{
    font-family: Arial, sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    background: lightcoral;
    padding: 50px 30px;
    margin-bottom: 5px;
    font-size: 100px;
    color: #333;
}
h2{
    font-family: sans-serif;
    background: lightblue;
    padding: 20px;
    font-size: 50px;
    text-align: center;
}
h3{
    font-size: 80px;
    font-weight: bold;
    text-align: left;

}
ul{
    font-size: 50px;
    font-weight: bold;
}
.card {
    width:1500px;
    height: 1300px;
    background: #f051ad;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.card img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    border-radius: 10px;
    
   
}

.card-content {
    padding: 0px;

}

.card2 {
    width: 1500px;
    height: 1300px;
    background: #1a76b8;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    
}


.card2 img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    border-radius: 10px;
    
   
}

.card2-content {
    padding:0px;
}

.card3 {
    width: 1500px;
    height: 1300px;
    background: #e6b1c5;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}


.card3 img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    border-radius: 10px;
    
   
}

.card3-content {
    padding:0px;
}

.dish {
    text-align: center;
    margin: 0;
    font-size: 80px;
    color: #222;
    
}

.category {
    color: #190606;
    font-size: 40px;
    font-weight: bold;

     
}

.price {
    font-size: 40px;
    font-weight: bold;
    color: rgb(26, 13, 5);

}


